@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --color-fondo: #f5f5f5;
    --color-texto: #4f3c2f;
    --color-enlace: #93292d;
    --color-separador: #1c6a71;
}

body {
    background-color: var(--color-fondo);
    color: var(--color-texto);
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
}

footer {
    padding: 20px;
}

section:not(.heading-home) {
    width: 100%;
    min-height: 50vh;
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}

button {
    background: linear-gradient(rgba(79, 60, 47, 1), rgba(110, 86, 70, 1));
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-color: rgba(1, 9, 12, 1);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-width: 1px;
    box-shadow: 0px 10px 14px -7px rgba(12, 1, 0, 1);
    color: var(--color-fondo);
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    text-shadow: 0px 1px 0px rgba(138, 103, 61, 1);
    width: 140px;
}

button:hover {
    background: linear-gradient(rgba(110, 86, 70, 1), rgba(79, 60, 47, 1));
}

a:visited {
    color: inherit;
}

h1, h2, h3, h4 {
    font-family: 'Lora', serif;
}

p {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-texto);
    color: var(--color-fondo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 32px;
    z-index: 1000;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0 10px;
}

li a {
    color: #fff;
    padding: 15px;
    font-size: 1.3em;
}

li a:hover:not(.dropdown-content a) {
    text-decoration: underline;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--color-fondo);
    min-width: 160px;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 10%);
    padding: 0;
    margin: 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px var(--color-texto);
}

.dropdown-content a {
    color: var(--color-texto);
    text-align: center;
    display: block;
    font-size: 1.2em;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: var(--color-texto);
    color: var(--color-fondo);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.logo {
    font-weight: bolder;
    font-size: 3em;
    color: var(--color-fondo);
}

/* Fin de navbar */

/* cabecera */
header.main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.heading-home {
    height: 80vh;
    overflow: hidden;
    position: relative;
}

.heading-home img {
    width: 100%;
    height: auto;
    object-fit: cover;
    filter: blur(3px);
}

.heading-home h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-size: 3em;
}

.heading-home p {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 12px;
    font-size: 1.3em;
}

.action-button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2;
}

#header-text-about {
    color: var(--color-fondo);
}

/* Fin cabecera */

/* Productos */
section.productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    /* Definimos un grid flexible para los productos */
    grid-gap: 20px;
}

.tendencias {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.tendencias h1 {
    text-align: center;
    font-size: 2em;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: 0.3s;
}

.card {
    margin: 10px;
    min-width: 200px;
    min-height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.card p {
    font-size: 18px;
    margin-top: 10px;
}

/* Fin productos */

/* Noticias y eventos */
.noticias-eventos {
    background-color: var(--color-enlace);
    color: var(--color-fondo);
    display: flex;
    flex-direction: column;
}

.noticias-eventos h1 {
    text-align: center;
    font-size: 2em;
    margin: 50px auto;
}

.noticias-eventos h2 {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-align: left;
    color: var(--color-texto);
}

.noticias-eventos p {
    text-align: left;
}

.noticias-eventos .card {
    background-color: var(--color-fondo);
    border-radius: 10px;
    box-shadow: 24px 24px 80px rgba(0, 0, 0, 0.1);
    width: 500px;
    min-height: 400px;
    margin: 20px;
    display: flex;
    padding: 20px;
    transition: width 0.5s ease-in-out;
}

.noticias-eventos .card:hover {
    width: 560px;
}

.text-noticias {
    width: 50%;
    padding: 1rem;
}

.noticias-eventos p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--color-texto);
}

.noticias-eventos img {
    width: 50%;
    height: auto;
}

/* Fin noticias y eventos */

/* Nuestra historia */
.historia h1 {
    text-align: center;
    color: var(--color-texto);
    font-size: 2em;
    margin-bottom: 1em;
}

.historia {
    background-color: var(--color-fondo);
    display: flex;
    flex-direction: column;
}

.historia p {
    color: var(--color-texto);
    width: 500px;
    font-size: 1.1em;
    line-height: 2;
}

.hist-imgtext {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10em;
}

.hist-imgtext img {
    height: 300px;
    width: auto;
    transition: opacity 0.3s ease-in-out;
}

.hist-imgtext:hover img {
    opacity: 0.8;
}

/* Fin nuestra historia */

/* Equipo */
.equipo {
    background-color: var(--color-fondo);
}

.equipo h1 {
    text-align: center;
    color: var(--color-texto);
    font-size: 2em;
    margin-bottom: 1em;
}

.equipo p {
    color: var(--color-texto);
}

.equipo-presentacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.miembro {
    width: 300px;
    margin: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.miembro:hover {
    transform: scale(1.1);
}

.miembro img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.miembro h2 {
    margin-top: 20px;
    font-size: 1.7em;
    font-weight: bold;
}

.miembro p {
    margin-top: 10px;
    font-size: 1.25em;
    margin: 10px;
}

/* Fin equipo */

/* Formulario */

.form-section {
    display: flex;
    justify-content: center;
}

.formulario {
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vh;
}

.formulario img {
    max-width: 300px;
    height: 500px;
    margin-right: 20px;
    border-radius: 5px 0 0 5px;
    object-fit: cover;
}

.formulario form {
    width: 100%;
}

.formulario label {
    display: block;
    margin-bottom: 10px;
}

.formulario input,
.formulario textarea {
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.formulario textarea {
    width: 90%;
}

#gender {
    text-align: center;
    margin-bottom: 0.5em;
}

.gender {
    display: flex;
    justify-content: space-evenly;
}

.gender div {
    display: inline-flex;
    gap: 0.3em;
}

.formulario button {
    margin: 0.3em;
}

@media screen and (max-width: 768px) {
    .formulario {
        flex-direction: column;
    }

    .formulario img {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

/* Fin formulario */

/* Horario oficina */

.horario {
    display: flex;
    justify-content: center;
    align-items: center;
}

.horario-oficina {
    width: 70%;
    align-items: center;
    border-collapse: collapse;
    font-size: 16px;
    margin-bottom: 20px;
}

.horario-oficina tr {
    transition: background-color 0.3s ease-in-out;

}

.horario-oficina th {
    background-color: var(--color-texto);
    color: var(--color-fondo);
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.horario-oficina td {
    border: 1px solid var(--color-fondo);
    padding: 10px;
    text-align: center;
}

.horario-oficina tr:nth-child(even) {
    background-color: var(--color-separador);
    color: var(--color-fondo);
}

.horario-oficina tr:hover {
    background-color: var(--color-enlace);
    color: var(--color-fondo);
}

/* Fin horario */

/* Footer */
footer {
    width: 100%;
    /* height: 30vh; */
    padding-top: 3.5em;
    padding-bottom: 3.5em;
    background-color: var(--color-separador);
    color: var(--color-fondo);
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer a {
    color: var(--color-fondo);
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
}

footer a:hover {
    color: var(--color-enlace);
}

.site-map {
    display: flex;
    flex-direction: column;
}

.general-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-text {
    font-size: 14px;
    margin-bottom: 10px;
}

.useful-links {
    display: flex;
    flex-direction: column;
}

.legal-info {
    align-items: center;
    justify-content: center;
}

/* Fin footer */

/* Media querys */
@media only screen and (max-width: 800px) {
    body {
        height: auto;
    }

    /* Navbar */
    nav {
        padding: 5px 0;
        justify-content: space-around;
    }

    nav ul {
        display: none;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    /* Header */

    .heading-home {
        height: auto;
    }

    .heading-home h1 {
        font-size: 1.5em;
        top: 70%;
        color: var(--color-fondo);
    }

    .heading-home button {
        display: none;
    }

    .heading-home p {
        display: none;
    }

    /* Historia */

    .hist-imgtext {
        display: flex;
        flex-direction: column;
    }

    /* Formulario */

    .formulario {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50vh;
        height: auto;
        padding: 2em;
    }

    .formulario form {
        width: auto;
    }

    .formulario img {
        display: none;
    }

    /* Footer */

    .general-info {
        flex-direction: column;
    }

    .general-info>div,
    .legal-info {
        margin: 1em;
    }
}